*{
    background-color: bisque;
}

body{
    align-content: center;
    text-align: center;
    list-style: block;
    
}

h1.title{
    color: darkgoldenrod;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    margin: auto;
    align-content: center;
}

ul{
    list-style: none;
}

.recipe{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    display: block;
    border: 2px solid darkorange;
    margin: auto;
    margin-bottom: 20px;
    align-content: center;
    color: darkred;
    background-color: yellow;
}

img{
    width: 720;
    height: auto;
}


.name{
    color: rgba(212, 138, 0, 0.702);
}

 .description, .ingredients, .instructions{
    text-decoration: underline;
 }



 